{% extends "base.html" %}

{% block content %}
<div class="container">

  <h1>Status</h1>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Starfire</th>
        <th scope="col">LX200</th>
        <th scope="col">ED 80</th>
      </tr>
    </thead>
    <tbody>
        <form action="" method="post" name="move">
        <tr>
            {% if telescopeState[0] == 1 %}
              <td><button type="submit" name="command" value="0-1" class="btn btn-success btn-lg">Is Open</button></td>
            {% else %}
              <td><button type="submit" name="command" value="0-1" class="btn btn-danger btn-lg">Open</button></td>
            {% endif %}

            {% if telescopeState[1] == 1 %}
              <td><button type="submit" name="command" value="1-1" class="btn btn-success btn-lg">Is Open</button></td>
            {% else %}
              <td><button type="submit" name="command" value="1-1" class="btn btn-danger btn-lg">Open</button></td>
            {% endif %}

            {% if telescopeState[2] == 1 %}
              <td><button type="submit" name="command" value="2-1" class="btn btn-success btn-lg">Is Open</button></td>
            {% else %}
              <td><button type="submit" name="command" value="2-1" class="btn btn-danger btn-lg">Open</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if telescopeState[0] == 0 %}
              <td><button type="submit" name="command" value="0-0" class="btn btn-success btn-lg">Closed</button></td>
            {% else %}
              <td><button type="submit" name="command" value="0-0" class="btn btn-danger btn-lg">Close</button></td>
            {% endif %}

            {% if telescopeState[1] == 0 %}
              <td><button type="submit" name="command" value="1-0" class="btn btn-success btn-lg">Closed</button></td>
            {% else %}
              <td><button type="submit" name="command" value="1-0" class="btn btn-danger btn-lg">Close</button></td>
            {% endif %}

            {% if telescopeState[2] == 0 %}
              <td><button type="submit" name="command" value="2-0" class="btn btn-success btn-lg">Closed</button></td>
            {% else %}
              <td><button type="submit" name="command" value="2-0" class="btn btn-danger btn-lg">Close</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if telescopeState[0] == 2 %}
              <td><button type="submit" name="command" value="0-2" class="btn btn-success btn-lg">Bahtinoved</button></td>
            {% else %}
              <td><button type="submit" name="command" value="0-2" class="btn btn-danger btn-lg">Bahtinov</button></td>
            {% endif %}

            {% if telescopeState[1] == 2 %}
              <td><button type="submit" name="command" value="1-2" class="btn btn-success btn-lg">Bahtinoved</button></td>
            {% else %}
              <td><button type="submit" name="command" value="1-2" class="btn btn-danger btn-lg">Bahtinov</button></td>
            {% endif %}

            {% if telescopeState[2] == 2 %}
              <td><button type="submit" name="command" value="2-2" class="btn btn-success btn-lg">Bahtinoved</button></td>
            {% else %}
              <td><button type="submit" name="command" value="2-2" class="btn btn-danger btn-lg">Bahtinov</button></td>
            {% endif %}
        </tr>
        </form>
    </tbody>
  </table>
</div>
{% endblock %}
